body {
    background-color: black;
    font-size: min(3vw, 16px);
}

main {
    margin-inline: auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

article {
    padding: 1em;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 10px white 10px 10px;
}

a {
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
}