body {
    background-color: black;
    color: white;
    font-size: min(3vw, 16px);
}

main {
    margin-inline: auto;
    max-width: 800px;
}

.clocks {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /* grid-template-columns: repeat(auto-fit, 1fr); */
}

.custom-clock {
    margin-bottom: 50px;
}

article {
    padding: 1em;
    background-color: grey;
    border-radius: 1em;
    box-shadow: 10px white 10px 10px;
    flex: 1;
}

a {
    padding: 0.5em;
    background-color: #ccc;
    border-radius: 0.5em;
}

.no-style {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

.minecraft-clock {
    image-rendering: pixelated;
    background-size: contain;
    width: 200px;
    height: fit-content;
    /* box-shadow: 10px 5px 5px red; */
    filter: drop-shadow(8px 16px 40px black);
    margin: 1em auto;
    /* margin-inline: auto; */
}

#earthCanvas {
    border-radius: 50%;
    box-shadow: 8px 16px 100px black;
    /* filter: drop-shadow(8px 16px 40px black); */
    margin: 2em 0;
}

summary {
    cursor: pointer;
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: lightgray;
    color: black;
}

aside {
    margin-top: 10em;
}

li {
    margin-bottom: 0.8em;
}

canvas {
    display: block;
    width: 100%;
    height: fit-content;
    object-fit: contain;
}

button {
    padding: 0.5em;
}

header {
    padding-bottom: 2rem;
}